html{
font-size: 16px;
font-family: Verdana, Geneva, Tahoma, sans-serif;



}



p{
color: rgb(0, 0, 0);

}

h1{
font-size: 50px;
color: rgb(24, 73, 116);
text-align: center;
}

p, li{
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

